body {
  font-family: 'Roboto', sans-serif;
}

.container_top {
  display: flex;
  flex-direction: column;
  align-items: center;
  visibility: hidden;
}

.container_links {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  visibility: hidden;
}

#heading {
  font-size: 550%;
  font-weight: 100;
  margin-bottom: 2%;
}

#photo {
  border-radius: 50%;
  border: solid 3px #C70039;
  margin-bottom: 1.5%; 
}

#details {
  display: flex;
}

#break {
  visibility: hidden;
  width: 50%;
  border: .5px black solid;
}

a {
  text-decoration: none;
  margin: 1.5% 1.2% 0%;
  color: black;
  font-size: 110%;
}

a:hover {
  color: #C70039;
}

@media only screen and (max-width: 675px) {

  #heading {
    font-size: 350%;
    margin-bottom: 6%;
  }

  #photo {
    margin-bottom: 5%;
  }

  #details {
    font-size: 100%;
  }

  #break {
    width: 65%;
  }
}

@media only screen and (max-width: 500px) {
  #heading {
    font-size: 260%;
    margin-bottom: 6%;
  }

  #details {
    flex-direction: column;
    align-items: center;
    font-size: 110%;
  }

  #details p {
    margin: 3% 0 3%;
  }

  .container_links {
    flex-direction: column;
    align-items: center;
  }

  .container_links a {
    font-size: 160%;
    margin: 5% 0% 2%;
  }
}

