body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  background-color: #222831;
}

#info {
  margin: 30% auto 32px;
  padding-bottom: 32px;
  width: 90%;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 32px;
  border-bottom: 2px solid #fff;
}

#info h1 {
  margin: 0;
  font-weight: 400;
  font-size: 48px;
  width: 100%;
  text-align: center;
}

#info #desktop-description {
  display: none;
}

#info img {
  border: 3px solid #fff;
  border-radius: 50%;
  object-fit: cover;
}

#info p {
  font-size: 20px;
  margin: 0;
}

#links {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 24px;
}

#links a,
#links img {
  width: 40px;
  height: 40px;
}

@media only screen and (min-width: 768px) {
  #info {
    max-width: 1000px;
    flex-direction: row;
    width: calc(100% - 45px);
    justify-content: space-evenly;
    margin-bottom: 48px;
    padding-bottom: 40px;
  }

  #info #desktop-description {
    display: block;
    text-align: center;
    margin-top: 12px;
    font-size: 18px;
  }

  #info #mobile-description {
    display: none;
  }

  #links {
    column-gap: 32px;
  }

  #links a,
  #links img {
    width: 50px;
    height: 50px;
  }
}

@media only screen and (min-width: 1024px) {
  #info {
    margin-top: 225px;
  }

  #info h1 {
    font-size: 60px;
  }

  #info #desktop-description {
    margin-top: 16px;
    font-size: 22px;
  }
}

/* body {
  font-family: 'Roboto', sans-serif;
}

.container_top {
  display: flex;
  flex-direction: column;
  align-items: center;
  visibility: hidden;
}

.container_links {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  visibility: hidden;
}

#heading {
  font-size: 550%;
  font-weight: 100;
  margin-bottom: 2%;
}

#photo {
  border-radius: 50%;
  border: solid 3px #C70039;
  margin-bottom: 1.5%; 
}

#details {
  display: flex;
}

#break {
  visibility: hidden;
  width: 50%;
  border: .5px black solid;
}

a {
  text-decoration: none;
  margin: 1.5% 1.2% 0%;
  color: black;
  font-size: 110%;
}

a:hover {
  color: #C70039;
}

@media only screen and (max-width: 675px) {

  #heading {
    font-size: 350%;
    margin-bottom: 6%;
  }

  #photo {
    margin-bottom: 5%;
  }

  #details {
    font-size: 100%;
  }

  #break {
    width: 65%;
  }
}

@media only screen and (max-width: 500px) {
  #heading {
    font-size: 260%;
    margin-bottom: 6%;
  }

  #details {
    flex-direction: column;
    align-items: center;
    font-size: 110%;
  }

  #details p {
    margin: 3% 0 3%;
  }

  .container_links {
    flex-direction: column;
    align-items: center;
  }

  .container_links a {
    font-size: 160%;
    margin: 5% 0% 2%;
  }
} */
